<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AODB" version="1.0.3" manuallyInstalled="true" />
  <package id="AOSharp.Common" version="1.0.4" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="SmokeLounge.AOtomation" version="1.0.4" manuallyInstalled="true" />
  <package id="StbImageSharp" version="2.30.15" />
  <package id="StbImageWriteSharp" version="1.16.7" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" manuallyInstalled="true" />
</packages>